/CheckerboardKarel.class
/CollectNewspaperKarel.class
/MidpointFindingKarel.class
/StoneMasonKarel.class
/ExtensionKarel.class
/BeeperLine.class
/PaintByBeeper.class
/Place99Beepers.class
/StepUp.class
