<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Eclipse
					</h1>
					<p class="subtleHeading">
						Created by your loving CS106A staff (including Nick Troccoli and Michael Chang).
					</p>

				</div>
				<!--<div class="alert alert-success"><b>New:</b> The solution to the first practice final, and the second practice final have been posted (Dec 7th). We included some extra practice questions.</div>-->
				<hr/>
			</div>
		</div>


      <p>

      </p><p>

	  
	  <p>In CS106A, we'll be using Stanford's customized version of
	  Eclipse to build our programs. Eclipse is an enormously popular
	  industrial strength Java environment with many
	  features. Fortunately, Eclipse is also open source -- anyone is
	  free to change Eclipse to work the way they want. We have taken
	  advantage of that freedom to install special Stanford features
	  into Eclipse, tailoring it specifically for CS106A. This
	  document gives instructions on how to get started using Stanford
	  Eclipse. Please pay close attention to these instructions and do
	  not skip steps!</p>

	  <h2>Contents</h2>

	  <a href="#mac">Mac Installation</a> |
	  <a href="#windows">Windows Installation</a> |
	  <a href="#help">I need help!</a>

	  <!-- MAC INSTALLATION --> 
	  <h2 id="mac">Installing Eclipse on a Mac</h2>
	  <p>Stanford Eclipse will only work on Mac OS X version 10.6 or higher.  If you don't have that version of the operating system, you'll need to either upgrade or do your class work in a public cluster.</p>
	  <ol>
	    <li><a href="{{pathToRoot}}resources/jdk-mac.dmg">Download and install the Java SDK installer for Mac</a></li>
	    <li><a href="{{pathToRoot}}resources/eclipse-mac.tar.gz">Download the Mac version of Eclipse</a></li>
	    <li>Double-click on the file <strong>eclipse-mac.tar.gz</strong> to unarchive Eclipse (You can delete <strong>eclipse-mac.tar.gz</strong> afterwards).</li>
	    <li>Drag the Eclipse app into the Applications folder on your Mac.</li>
	    <li>Drag the Eclipse icon from there to your Dock to create a shortcut.</li>
	    <li>Click on the icon in the dock to open Eclipse. If you see an error that says Eclipse "can't be opened because it is from an unidentified developer," right-click on the Eclipse icon and select "open" instead. You will be able to open Eclipse without right-clicking from now on.</li>
	    <li>When you run Eclipse for the first time, you may get a screen that looks like this:<br>
	  		<img style="max-width:100%"src="{{pathToRoot}}img/eclipse/step0.png" alt="Eclipse Workspace Launcher dialog"><br>
	  		A workspace is just a directory that Eclipse will use to place new projects in. In 106A you won't have to make any new projects from scratch. We will always give you skeleton projects for your assignments, so you don't need to worry about where the workspace is. The suggested location is fine. Click the <strong>Use this as the default and do not ask again</strong> checkbox, and then click OK.
	    </li>
      <li>Once Eclipse has started, you can close the "Welcome" tab using the "X" in the top left.  Click Help -&gt; Install New Software.</li>
      <li>In the "Work with" text box, type <strong>https:{{pathToRoot}}resources/plugin/</strong> and press Enter.</li>
      <li>Click "Select All," then click Next.<br><img style = "max-width:100%" src="{{pathToRoot}}img/eclipse/step1.png" style="max-width:100%" alt="Eclipse Install Software dialog"></li>
      <li>Click Next again.<br><img src="{{pathToRoot}}img/eclipse/step2.png" style="max-width:100%" alt="Eclipse Install Details dialog"></li>
      <li>Click "I accept the terms of the license agreement," then click Finish.<br><img src="{{pathToRoot}}img/eclipse/step3.png" style="max-width:100%" alt="Eclipse License Agreement dialog"></li>
      <li>Click OK when you see the warning about installing unsigned content.<br><img src="{{pathToRoot}}img/eclipse/step4.png" style="max-width:100%" alt="Eclipse Security Warning dialog"></li>
      <li>Click Yes when asked to restart Eclipse.</li>
      <li>
      	Now that you have Eclipse loaded, your next step is to create a new project in your workspace by importing a skeletal framework that we provide called a starter project. Using starter projects makes your life much easier by allowing you to ignore the many details involved in creating a project from scratch.  Every assignment will include a starter project for each problem, and your first task will be to download the starter project from the class website and then import it into your workspace.  The details for doing so are described in the handout "Using Karel with Eclipse".<p></p> 
      </li>
	  </ol>
<p>

	<hr/><br/>

		<!-- WINDOWS INSTALLATION -->
	  </p><h2 id="windows">Installing Eclipse in Windows</h2>
	  <p>Our version of Eclipse will run on Windows 7, 8 or 10. In the very unlikely event you have an older version of Windows on your computer, you will need to do your class work in one of the public computer clusters. Before installing Eclipse, you will first need to have a copy of the latest version of the Java JRE (Java Runtime Environment) installed on your computer. Note that Java version 1.8 is the latest version of Java. If you don't know which version, if any, of the JRE you have, or want to upgrade to the latest version, just start at Step 1. We recommend most students at Step 1.</p>
	  <ol>
	    <li><strong>Uninstall previous versions of the
	    JRE</strong>. Before installing a new version of the JRE, we
	    recommend that you remove any older copies that may be
	    installed on your system.
	      <p>
	      </p><ul>
		<li>
		  If you have Windows 7 or 8, do the following: Click
		  on <strong>Start</strong>, then click on <strong>Control
		   Panel</strong>, then select <strong>Programs and
		  Features</strong>.
		  <p>
		  If you have Windows 10, do the following: Click
		  on <strong>Start</strong> (the Windows icon in the lower
		  left-hand corner), then click
		  on <strong>Settings</strong> (the gear-shaped icon),
		  then select <strong>Apps &amp; Features</strong>.
		</p></li> 
		<p>
		</p><li>From the list of programs you see, uninstall
		any occurrences of Java/J2SE Runtime Environment, Java
		SDK, Java SE Development Kit or Java Update. Note that the
		exact program name may 
		be slightly different or include a version number, but you
		generally want to remove anything that includes the text:
		Java/J2SE Runtime Environment, Java SDK, Java SE
		Development Kit or Java Update. To remove a program, click
		on the program name to 
		highlight it and click the the <strong>Uninstall</strong>
		button.</li> 
		<p>
	      </p></ul>
	    </li>
	    <p>
	    </p><li>Download and install the JRE:
	    <a href="{{pathToRoot}}resources/jdk-windows.exe">32 bit
	    version</a> or <a href="{{pathToRoot}}resources/jdk-windows64.exe">64
	    bit version</a>

<br>After clicking this link a prompt
	    will appear to ask you whether you want to run or save the
	    file. Click <strong>Run</strong> to begin the download and
	    installation process. If you did not get a prompt to run the
	    file after the download completed, you should double-click the
	    file you downloaded to run it manually. If a subsequent
	    security warning dialog box appears, click <strong>Run</strong>
	    (or <strong>Yes</strong>) to continue with the
	    installation. The Java JRE installation program should
	    begin. Do a Typical installation (just use the default setting
	    in the installation process), and follow the rest of the
	    instructions given in order to complete your
	    installation.</li> 
	    <p>
	    </p><li>Download Eclipse:
 <a href="{{pathToRoot}}resources/eclipse-windows.zip">32 bit version</a>
or <a href="{{pathToRoot}}resources/eclipse-windows64.zip">64 bit version</a>
<br>Save the downloaded file to somewhere on your hard drive.  This may
  take a little while as the file is rather large.
</li>
	    <p>
	    </p><li>Unzip/extract the contents of the file by right-clicking
	    on the folder you just downloaded, selecting
	    the <strong>Extract All...</strong> option and
	    typing <strong>C:\Program Files</strong> as the location to
	    extract the files to. 
	      Then continue following the steps in the extraction process. 
</li>
	    <p>
	    </p><li>Create a shortcut to Eclipse on your Desktop for easy
	    access — Open the <strong>C:\Program
	    Files\eclipse</strong> directory, and right-click and
	    drag the eclipse.exe file (the Eclipse application) to your
	    desktop and then select the option Create shortcut here.</li>
	  </ol>

	    <p>
	    Note: If you installed the 64 bit versions of the software, and
	    find that you have issues running Eclipse, we recommend that
	    you uninstall the 64 bit versions of the both the JRE and
	    Eclipse and install the 32 bit versions of both.
	    </p><p>

	  </p><p>At this point you should have Eclipse installed and working on your computer. When you run Eclipse for the first time, you may get a screen that looks like this:</p>
	  <img style="max-width:100%"src="{{pathToRoot}}img/eclipse/eclipse-workspace-launcher.png" alt="Eclipse Workspace Launcher dialog">
	  <p>A workspace is just a directory that Eclipse will use to
	  place new projects in. In 106A you won't have to make any new
	  projects from scratch. We will always give you skeleton projects
	  for your assignments, so you don't need to worry about where the
	  workspace is. The suggested location is fine. Click
	  the <strong>Use this as the default and do not ask
	  again</strong> checkbox, and then click OK. Once you do, Eclipse
	  will start running -- and after what may seem like a relatively
	  long time -- bring up a screen that looks something like this:</p> 
	  <img style="max-width:100%"src="{{pathToRoot}}img/eclipse/eclipse-workspace.png" alt="Eclipse Workspace Launcher dialog">
	  <p>Once you have Eclipse loaded, your next step will usually be
	  to create a new project in your workspace by importing a
	  skeletal framework that we provide called a starter
	  project. Using starter projects makes your life much easier by
	  allowing you to ignore the many details involved in creating a
	  project from scratch.  Every assignment will include a starter
	  project for each problem, and your first task will be to
	  download the starter project from the class website and then
	  importing it into your workspace.  The details for doing so are
	  described in the handout "Using Karel with
	  Eclipse".</p> 

	  <hr/><br/>

	<h2 id="help">Having trouble with your installation?</h2>
	<p style="padding-bottom: 10px;">Check out this doc for 
	      <a class="popup" href="https://docs.google.com/document/d/10EdLPNaRzwqE6A-3SzhS6fEIW6iIoCrqFXcCCeakJXE/edit?usp=sharing" target="_blank">common
		Eclipse errors and issues / Troubleshooting</a>, email the Head TA or stop by their Office Hours, or stop by the LaIR.  During the first week, you can also stop by the <strong>Eclipse Setup Session on Friday 1/13 3-5PM in Hewlett 200.</strong>
	</p>

	%include templates/parts/footer.html

</div>
</body>

 