<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Final Info
					</h1>
					<p class="subtleHeading">
						January, 2017
					</p>

				</div>
				<!--<div class="alert alert-success"><b>New:</b> The solution to the first practice final, and the second practice final have been posted (Dec 7th). We included some extra practice questions.</div>-->
				<hr/>
			</div>
		</div>



		<div class="row">
			<div class="col-sm-12">
				<h1>Logistics</h1>
				<div class="row">
					<div class="col-sm-9">
						<p>
							The CS106A Final is Monday March 20th from 8:30am to 11:30am.
						</p>

						<p>
							For a variety of reasons (including university policy), there will be no alternate time for the final exam.  Please make sure that you can attend the final exam at the specified time before enrolling in the class.
						</p>

					</div>

					<div class="col-sm-3">
						<div class="well info faq" >
							<b>Final</b> <br/>
							<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
							Mon, Mar 20th<br/>
								
							<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 
							8:30-11:30am<br/>

							<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>
							T.B.D.<br/>
						</div>
					</div>
				</div>

				<div class="alert alert-success"><b>Check back later:</b> We will fill this page will all relevant details closer to the exam date.</div>

			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
