<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Final Exam Info
					</h1>
					<p class="subtleHeading">
						The CS106A Final Exam is Monday March 19th from 8:30AM to 11:30AM PST.
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">

				

				<h2>Download Your Final Exam</h2>

				<p style="margin-top:20px">
					<div class="alert alert-success"><b>Download your encrypted final: </b> The encrypted finals are ready to download! You should download the exam in advance of arriving at your exam location. <b>Warning:</b> Make sure to download the correct exam -- otherwise the password you are given in your exam room won't match (sad times).</div>
				</p>

				<div class="well">
					<p><b>Instructions: </b></p>
					<p>
						All students should download and test their exam program before the final!
					</p>
				    <p>
				      <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> On a Windows PC, download the .zip file and completely extract it into another folder. Then open the BlueBook program by double-clicking. If you get a Windows message that says, "Windows protected your PC," click on "More info" and then "Run anyway".
				    </p>
				    <p>
				      <span class="glyphicon glyphicon-apple" aria-hidden="true"></span> On a mac, download the .zip file and completely extract it. Find the BlueBook app inside the folder and <b>right or control-click</b> the app. Chose the menu option 'open', which should be the first choice. If prompted, click on Open again to confirm you want to run the program.
				    </p>
				 </div>

				<p>
					<table class="table">
					<tr>
						<th>Exam Type</th>
						<th>Download Links</th>
					</tr>
					  <tr>
					  	<td>Regular Seating</td>
					  	<td>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-mac.zip">
					  		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Mac
					  		</a>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-pc.zip">
					  		<span style="margin-left:20px"  class="glyphicon glyphicon-th-large" aria-hidden="true"></span> PC
					  		</a>
					  	</td>
					  </tr>
					  <tr>
					  	<td>SCPD</td>
					  	<td>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-scpd-mac.zip">
					  		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Mac
					  		</a>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-scpd-pc.zip">
					  		<span style="margin-left:20px"  class="glyphicon glyphicon-th-large" aria-hidden="true"></span> PC
					  		</a>
					  	</td>
					  </tr>
					  <tr>
					  	<td>OAE 150%</td>
					  	<td>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-et-mac.zip">
					  		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Mac
					  		</a>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-et-pc.zip">
					  		<span style="margin-left:20px"  class="glyphicon glyphicon-th-large" aria-hidden="true"></span> PC
					  		</a>
					  	</td>
					  </tr>
					  <tr>
					  	<td>OAE 200%</td>
					  	<td>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-t2-mac.zip">
					  		<span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Mac
					  		</a>
					  		<a href="{{pathToRoot}}exams/final/final-win2018-t2-pc.zip">
					  		<span style="margin-left:20px"  class="glyphicon glyphicon-th-large" aria-hidden="true"></span> PC
					  		</a>
					  	</td>
					  </tr>
					</table>

					<hr/>
				</p>

				<h2>Location</h2>
				<div class="row">

					<div class="col-xs-12">
						<div class="alert alert-info">For a variety of reasons (including university policy), there will be no alternate time for the final exam.  Please make sure that you can attend the final exam at the specified time.</div>
					</div>
					
					<div class="col-xs-4 col-sm-4">


						<div class="well">
						    <b>Last Name: A through F</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>STLC 111
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.2729744392877!2d-122.17336708474022!3d37.4306556798236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ba17ff9c7%3A0x57526164969fab33!2sSapp+Center+for+Science+Teaching+and+Learning!5e0!3m2!1sen!2sus!4v1521234792942" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						    </div>
						</div>		
					</div>

					
					<div class="col-xs-4 col-sm-4">

						<div class="well">
						    <b>Last Name: G through J</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Hewlett 201
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.345197243158!2d-122.1750263848679!3d37.42894923975373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ae177cc91%3A0x5351ffed56456da8!2sWilliam+R.+Hewlett+Teaching+Center%2C+370+Serra+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1500400060838" width="600" height="450" style="border:0" allowfullscreen=""></iframe>
						    </div>
						</div>		
					</div>

					<div class="col-xs-4 col-sm-4">

						<div class="well">
						    <b>Last Name: K through Z</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Hewlett 200
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.345197243158!2d-122.1750263848679!3d37.42894923975373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ae177cc91%3A0x5351ffed56456da8!2sWilliam+R.+Hewlett+Teaching+Center%2C+370+Serra+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1500400060838" width="600" height="450" style="border:0" allowfullscreen=""></iframe>
						    </div>
						</div>		
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr/>

						<h2>What to bring</h2>
						<p> The exam is on computer. You should bring:
							<ul>
								<li>Your laptop and charger</li>
								<li>The device you use for two-step authentication</li>
								<li>Paper notes / textbook (it's open book)</li>

							</ul>
					</div>
					
				</div>

				<p>
					If you don't have a working laptop let us know AS SOON AS POSSIBLE and we will get you set up with one.
				</p>

				

				<hr/>

				<h2>Practice Finals</h2>
				<p>
					<div class="row">
						<div class="well">
						    <p>
						      <strong>NOTE:</strong> Note that two concepts tested on this practice final, GCompounds and Iterators, will not be tested on the actual final exam.
						    </p>
						</div>
                        <div class="col-xs-6">
                            <a href="//web.stanford.edu/class/archive/cs/cs106a/cs106a.1174/handouts/34-practice-final.pdf">
                                <center><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span></center><br>
                                <center>Practice Final #1 (PDF)</center>
                            </a>
                        </div>

                        <div class="col-xs-6">
                            <a href="//web.stanford.edu/class/archive/cs/cs106a/cs106a.1174/handouts/36-practice-final-solutions.pdf">
                                <center><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span></center><br>
                                <center>Practice Final Soln #1 (PDF)</center>
                            </a>
                        </div>
                    </div>

                    <div class="row">
						<div class="well">
							<strong>BLUEBOOK INSTRUCTIONS</strong>
						    <p>
						      On a Windows PC, download the .zip file and completely extract it into another folder. Then open the BlueBook program by double-clicking. If you get a Windows message that says, "Windows protected your PC," click on "More info" and then "Run anyway" (We're working on resolving this!).
						    </p>
						    <p>
						      On a Mac, after downloading, select the app and right or control-click. Click on Open. Click on Open again to confirm you want to complete the action.
						    </p>
						    <p>Note that the practice exam version of BlueBook has two differences from the version used for the final exam: it does not show a countdown timer (to allow you to practice in either timed or untimed conditions) and it is not fullscreen (to allow you to copy-paste in and out of BlueBook as needed).
						    </p>
						</div>

                        <div class="col-xs-4">
                            <a href="{{pathToRoot}}exams/final/macFinalPractice.zip">
                                <center><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span></center><br>
                                <center>Practice Final #2 (BlueBook - Mac)</center>
                            </a>
                        </div>

                        <div class="col-xs-4">
                            <a href="{{pathToRoot}}exams/final/winFinalPractice.zip">
                                <center><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span></center><br>
                                <center>Practice Final #2 (BlueBook - PC)</center>
                            </a>
                        </div>

                        <div class="col-xs-4">
                        	<a href="{{pathToRoot}}handouts/25 - Practice Final 2 Soln.pdf">
                            <center><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span></center><br>
                            <center>Practice Final #2 Solution</center>
                        </div>
                    </div>
				</p>
				
				<hr/>

				<h2>Other Resources</h2>
				<p>
					<div class="row">

						<div class="col-xs-6"><a href="{{pathToRoot}}handouts/15 - Exam Strategies.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:0px">Exam Strategies</span></a>
						</div>
					</div>
					<br/>
				</p>
			
			</div>
		</div>

		


	

		%include templates/parts/footer.html

	</div>

</body>
