<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						Midterm Info
					</h1>
					<p class="subtleHeading">
						The CS106A Midterm is Monday Feb 12th from 7pm to 9pm.
					</p>

				</div>
				
				<hr>
			</div>
		</div>

	

		<div class="row">
			<div class="col-sm-12">

				<p style="margin-top:20px">
					<div class="alert alert-success"><b>Check back later:</b> We will post the encrypted exam here Sunday night. Make sure to download the test beforehand!</div>
				</p>

				<h2>Location</h2>
				<div class="row">
					
					<div class="col-xs-6 col-sm-6">


						<div class="well">
						    <b>Last Name: A through J</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Cubberly Auditorium
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1140.4599867810914!2d-122.16881131208928!3d37.426197737474645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbad670666f4f%3A0xf57308e4d20e0bc4!2sCubberley+Auditorium!5e0!3m2!1sen!2sus!4v1518209092501" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						
						    </div>
						</div>		
					</div>

					
					<div class="col-xs-6 col-sm-6">

						<div class="well">
						    <b>Last Name: K through Z</b>
						    <br>

						    <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Hewlett 200
						    <br>
						    <br>

						    <div class="mapOverlay" onclick="style.pointerEvents='none'"></div>
						    <div class="google-maps">
						    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.345197243158!2d-122.1750263848679!3d37.42894923975373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ae177cc91%3A0x5351ffed56456da8!2sWilliam+R.+Hewlett+Teaching+Center%2C+370+Serra+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1500400060838" width="600" height="450" style="border:0" allowfullscreen=""></iframe>
						    </div>
						</div>		
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr/>

						<h2>What to bring</h2>
						<p> The exam is on computer. You should bring:
							<ul>
								<li>Your laptop and charger
								<li>The device you use for two-step authentication
								<li>Paper notes (its open book)

							</ul>
					</div>
					
				</div>

				<p>
					If you don't have a working laptop let us know AS SOON AS POSSIBLE and we will get you set up with one.
				</p>

				

				<hr/>

				<h2>Practice Midterm</h2>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/macPractice.zip""><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:20px">Mac</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/windowsPractice.zip"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:25px">PC</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/linuxPractice.AppImage"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:15px">Linux</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}handouts/13 - Practice Midterm Solutions.pdf"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<span style="margin-left:5px">Solutions</span></a>
						</div>

						
						
					</div>
					<br/>
				</p>
				<div class="well">
				    <p>
				      On a Windows PC, download the .zip file and completely extract it into another folder. Then open the BlueBook program by double-clicking. If you get a Windows message that says, "Windows protected your PC," click on "More info" and then "Run anyway" (We're working on resolving this!).
				    </p>
				    <p>
				      On a mac, after downloading, select the app and right or control-click. Click on Open. Click on Open again to confirm you want to complete the action.
				    </p>
				    <p>
				      The password for the exam is <code> funkyPenguin</code>. Practice exam submission <b> will not work </b>, but a tool to view your exam answers - as well as solutions - will be released this weekend. If you run into any issues, please email <a href="mailto:brahm@stanford.edu"> Brahm </a> and <a href="mailto:piech@stanford.edu"> Chris </a>.
				    </p>
				   </div>
				<hr/>
				<h2>Other Resourecs</h2>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/macPractice.zip""><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:-10px">Exam Strategies</span></a>
						</div>
						<div class="col-sm-2"><a href="{{pathToRoot}}exams/windowsPractice.zip"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:0px">Extra Practice</span></a>
						</div>
						

						
						
					</div>
					<br/>
				</p>
			
			</div>
		</div>

		


	

		%include templates/parts/footer.html

	</div>

</body>
