<head>

	%include templates/parts/head.html

	<link rel="stylesheet" type="text/css" href="{{pathToRoot}}css/bootstrap-5-columns.css">

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">

		
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<!--<div class="alert alert-success"><b>New materials!</b> On Wed (Nov 9th) we posted the midterm, the midterm solution and the grade distribution.
				</div>-->
				<div id="pageHeader">
					<h1>
						CS106A Teaching Team
					</h1>
					<p class="subtleHeading">
						January, 2017
					</p>

				</div>
				
				<hr>
			</div>
		</div>

		

		<div class="row">
			
			<!-- Col 1 -->
			<div class="col-sm-3 col-sx-2">
				<div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="//web.stanford.edu/class/cs109/img/people/chris.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Lecturer: Chris Piech</b><br>
			        
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>Thurs 1-3pm<br>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 193
			      </div>
			    </div>
			</div>

			<!-- Col 2 -->
			<div class="col-sm-3 col-sx-2">
				<div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="//web.stanford.edu/class/cs109/img/people/chris.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Lecturer: Chris Piech</b><br>
			        
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>Thurs 1-3pm<br>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 193
			      </div>
			    </div>
			</div>

			<!-- Col 3 -->
			<div class="col-sm-3 col-sx-2">
				<div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="//web.stanford.edu/class/cs109/img/people/chris.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Lecturer: Chris Piech</b><br>
			        
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>Thurs 1-3pm<br>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 193
			      </div>
			    </div>
			</div>

			<!-- Col 4 -->
			<div class="col-sm-3 col-sx-2">
				<div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="//web.stanford.edu/class/cs109/img/people/chris.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Lecturer: Chris Piech</b><br>
			        
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>Thurs 1-3pm<br>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 193
			      </div>
			    </div>
			</div>

			
		</div>


		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
