


<head>

	%include templates/parts/head.html

	 <script src="{{pathToRoot}}karel/js/html/websiteImports.js"></script>
    <link rel="stylesheet" href="{{pathToRoot}}karel/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{pathToRoot}}karel/boxy/stylesheets/boxy.css" type="text/css" />
    <script src="{{pathToRoot}}karel/lib/jquery.js"></script>
    <script src="{{pathToRoot}}karel/lib/browser_detect.js"></script>
    <script src="{{pathToRoot}}karel/lib/util.js"></script>
    <script src="{{pathToRoot}}karel/lib/tabs.js"></script>
    <script src="{{pathToRoot}}karel/codeMirror/js/codemirror.js"></script>
    <script src="{{pathToRoot}}karel/ace/ace-uncompressed.js"></script>
    <script src="{{pathToRoot}}karel/ace/theme-jeremys.js"></script>
    <script src="{{pathToRoot}}karel/ace/mode-javascript.js"></script>
    <script src="{{pathToRoot}}karel/ace/mode-java.js"></script>
    <script src="{{pathToRoot}}karel/lib/curvycorners.js"></script>
	 <script src="{{pathToRoot}}karel/lib/jquery.js"></script>
    <script src="{{pathToRoot}}karel/boxy/jquery.boxy.js"></script>

    <script src="{{pathToRoot}}karel/js/compiler/karelCompiler.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/scanner/TokenScanner.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/parser/Parser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/parser/XParser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/vm/VM.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/vm/XVM.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/karel/KarelParser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/karel/KarelVM.js"></script>

     <script src="{{pathToRoot}}karel/js/compiler/karelCompiler.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/scanner/TokenScanner.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/parser/Parser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/parser/XParser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/vm/VM.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/vm/XVM.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/karel/KarelParser.js"></script>
	<script src="{{pathToRoot}}karel/js/compiler/karel/KarelVM.js"></script>

     		<script src="{{pathToRoot}}karel/js/ide/karelImages.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelSingleton.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelConstants.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/action.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/beepers.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/walls.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/squareColors.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/canvasModel.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelModel.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelView.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karel.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelCompiledEngine.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelEvalEngine.js"></script>
		<script src="{{pathToRoot}}karel/js/ide/karelIde.js"></script>
		<script src="{{pathToRoot}}karel/js/html/starterCode.js"></script>

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Course Schedule
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
			<h2>
				Play With Karel
			</h2>

			<p>Meet Karel, The Java Robot that Stanford uses to introduce university students to programming. </p>

			<p>Use Karel's commands to get her to move the beeper to the top of the ledge. Normally you will write your programs in an application called Eclipse, but to get you started we made a mini-eclipse for our website:</p>
			<div>
			

				<div style="width:100%;">
				   <div id ='mainIde' class = "getStarted">
				 
				      <div id = "mainIdeCenter" >
				      	<div id = 'mainIdeCanvasDiv' class = 'orange'>
				            <canvas id = 'mainIdeCanvas' class = 'red'></canvas>
				         </div>
				         <div id = 'mainIdeEditorDiv'>
				            <script>importEditor('mainIdeEditor','mainIdeEditorDiv');</script>
				         </div>
				         
				      </div>

				   </div>


				   
				   <div id="runButtonBar" class="buttonBar"></div> 
				       <script>importButtonBar();</script>
				      <br/>
				</div>
			   
			   <script>

			   		

			      function init() {
			      	 var stepUpWorld = null;
			         var karelIde = null;

			         var onReadyCalled = false;

			         var buttonState = 'play';

			         document.onready = function() {
			            if (onReadyCalled) return;
			            onReadyCalled = true;
			            $("[title]").tooltip({ position: "bottom center", opacity: 0.9});
			            
			            initTabs();
			            var canvas = document.getElementById('mainIdeCanvas');

			         	console.log('on ready')
			            karelIde = KarelIde(window._editor, canvas, INITIAL_WORLD);

			         	console.log('found')

			            var stepUpCanvase = document.getElementById('firstIdeCanvas');
			            stepUpWorld = KarelIde(window._editor, stepUpCanvase, 'ledge');
			            
			            $('#playButton').click(function(){playClicked()});
			            $('#move').click(function(){stepUpWorld.stepMove()});
			            $('#left').click(function(){stepUpWorld.stepTurnLeft()});
			            $('#right').click(function(){stepUpWorld.stepTurnRight()});
			            $('#put').click(function(){stepUpWorld.stepPutBeeper()});
			            $('#pick').click(function(){stepUpWorld.stepPickBeeper()});
			            /*$('#worldSelector').change(
			               function() {
			                  var worldName = $("#worldSelector option:selected").text();
			                  karelIde.stopButton();
			                  var playText = '<span class="glyphicon glyphicon-play"></span> Run Program';
				         	  $('#playButton').html(playText);
				         	  buttonState = 'play';
					          karelIde.changeWorld(worldName);
					        }
			            );*/
			            window.onresize();
			            
			         }

			         function playClicked() {
			         	if(buttonState == 'play') {
			         		karelIde.playButton();
				         	
				         	var resetText = '<span class="glyphicon glyphicon-repeat"></span> Reset Program';
				         	$('#playButton').html(resetText);
				         	buttonState = 'reset';
				         } else if (buttonState == 'reset') {
				         	karelIde.stopButton();
				         	var playText = '<span class="glyphicon glyphicon-play"></span> Run Program';
				         	$('#playButton').html(playText);
				         	buttonState = 'play';
				         }
			         	
			       }

			         window.onresize = function() { 
			            var parentHeight = 300;
			            var parentWidth = $("#playWithKarel").width();
			            console.log('pw: ' + parentWidth);

			            var ide = document.getElementById('mainIde');
			            var editorDiv = document.getElementById('mainIdeEditorDiv');
			            var canvas = document.getElementById('mainIdeCanvasDiv');
			            var center = document.getElementById('mainIdeCenter');
			            
			            var ideHeight = parentHeight
			            ide.style.height = (ideHeight)+ 'px';
			            ide.style.width = parentWidth + 'px';
			            
			            var centerHeight = ideHeight;
			            center.style.height = centerHeight + 'px';
			            center.style.width = parentWidth + 'px';

			            //center.style.top = centerTop + 'px';

			            var availibleWidth = parentWidth ;
			            var elementSpacing = 12;
		
			            
			            var canvasWidth = parentHeight;
			            canvas.style.width = canvasWidth + 'px';
			            canvas.style.left = 0+ 'px';

			           	var editorWidth = availibleWidth - canvasWidth - elementSpacing; 
			           	//editorWidth = Math.max(editorWidth, Const.MIN_EDITOR_WIDTH)

			            editorDiv.style.left = (canvasWidth + elementSpacing) + 'px'
			            editorDiv.style.width = editorWidth + 'px';

			            if (karelIde) {
			               karelIde.resizeCanvas(canvasWidth, centerHeight);
			               stepUpWorld.resizeCanvas($("#firstIdeCanvas").width(), 200);
			            }
			            if (window._editor) {
			               window._editor.renderer.onResize();
			            }
			            ReferenceDialog.resize();
			            DeployDialog.resize();
			         }

			         
			      }
			      init();
			   </script>
			</div>
		</div>

	

		%include templates/parts/footer.html

	</div>



</body>
