<div>
    <p class="subtleHeading">ASSIGNMENTS</p>

     <!--<div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/nameSurfer.html">Assn 6: NameSurfer</a> 
    </div>

    <div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/yahtzee.html">Assn 5: Yahtzee</a> 
    </div>-->

    <div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/hangman.html">Assn 4: Hangman</a> 
    </div>

    <div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/breakout.html">Assn 3: Breakout</a> 
    </div>

    <div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/simpleJava.html">Assn 2: Simple Java</a> 
    </div>

    <div class="well well-sm" style="margin-bottom:10px">
        <a href="{{pathToRoot}}assn/karel.html">Assn 1: Karel</a> 
    </div>
    
    


</div>
<hr/>

<div>
    <p class="subtleHeading">EXAMS</p>
    <p>
    <a href="{{pathToRoot}}handouts/midterm.html">Midterm</a><br/>
    <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Monday, Feb 12th<br/>
    <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 7-9pm
    </p>
    <p>
    Final<br/>
    <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
    Monday, March 19th<br/>
    <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 8:30-11:30am
    </p>
</div>