<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}/">CS106A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Lectures</a></li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}lectures/1-Welcome">1 Welcome</a></li>
            <li><a href="{{pathToRoot}}lectures/2-ControlFlow">2 Control Flow</a></li>
            <li><a href="{{pathToRoot}}lectures/3-Decomposition">3 Decomposition</a></li>
            <li><a href="{{pathToRoot}}lectures/4-Variables">4 Variables</a></li>
            <li><a href="{{pathToRoot}}lectures/5-ControlFlowRevisited">5 ControlFlowRevisited</a></li>
            <li><a href="{{pathToRoot}}lectures/6-NestedLoops">6 NestedLoops</a></li>
            <li><a href="{{pathToRoot}}lectures/7-Methods">7 Methods</a></li>
            <li><a href="{{pathToRoot}}lectures/8-Animation">8 Animation</a></li>
            <li><a href="{{pathToRoot}}lectures/9-Events">9 Events</a></li>
            <li><a href="{{pathToRoot}}lectures/10-References">10 References</a></li>
            <li><a href="{{pathToRoot}}lectures/11-Memory">11 Memory</a></li>
            <li><a href="{{pathToRoot}}lectures/12-TextProcessing">12 TextProcessing</a></li>
            <li><a href="{{pathToRoot}}lectures/13-Files">13 FileReading</a></li>
            <li><a href="{{pathToRoot}}lectures/14-ArrayLists">14 ArrayLists</a></li>
            <!--<li><a href="{{pathToRoot}}lectures/106AMidtermReviewSession.pdf">Midterm Review Session</a></li>
            <li><a href="{{pathToRoot}}lectures/15-Arrays">15-Arrays</a></li>
            <li><a href="{{pathToRoot}}lectures/16-Matrix">16-Matrix</a></li>
            <li><a href="{{pathToRoot}}lectures/17-HashMaps">17-HashMaps</a></li>
            <li><a href="{{pathToRoot}}lectures/18-Interactors">18-Interactors</a></li>
            <li><a href="{{pathToRoot}}lectures/19-Classes1">19-Classes-1</a></li>
            <li><a href="{{pathToRoot}}lectures/20-Classes2">20-Classes-2</a></li>-->
          </ul>

        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}handouts/1 - General Information.pdf">1 General Information</a></li>
            <li><a href="{{pathToRoot}}handouts/2 - Course Placement.pdf">2 Course Placement</a></li>
            <li><a href="{{pathToRoot}}handouts/3 - Using Karel with Eclipse.pdf">3 Using Karel with Eclipse</a></li>
            <li><a href="{{pathToRoot}}handouts/4 - Honor Code.pdf">4 Honor Code</a></li>
            <li><a href="{{pathToRoot}}handouts/5 - Assignment1.pdf">5 Assignment 1</a></li>
            <li><a href="{{pathToRoot}}handouts/6 - Submitting Work.pdf">6 Submitting Work</a></li>
            <li><a href="{{pathToRoot}}handouts/7 - Course Communication.pdf">7 Course Communication</a></li>
            
            <li><a href="{{pathToRoot}}handouts/8 - Assignment2.pdf">8 Assignment 2</a></li>
            <li><a href="{{pathToRoot}}handouts/debugger.html">9 Debugging</a></li>
            
            
            <li><a href="{{pathToRoot}}handouts/10 - Assignment 3.pdf">10 Assignment 3</a></li>
            <li><a href="{{pathToRoot}}handouts/11 - Strings Examples.pdf">11 String Examples</a></li>
            <li><a href="{{pathToRoot}}handouts/12 - Assignment4.pdf">12 Assignment 4</a></li>
            <li><a href="{{pathToRoot}}handouts/13 - Practice Midterm Solutions.pdf">13 Practice Midterm Soln</a></li>
            <li><a href="{{pathToRoot}}handouts/14 - More Midterm Practice.pdf">14 More Midterm Practice</a></li>
            <li><a href="{{pathToRoot}}handouts/15 - Exam Strategies.pdf">15 Exam Strategies</a></li>
            <li><a href="{{pathToRoot}}handouts/16 - ArrayList.pdf">16 ArrayLists for Hangman</a></li>
           <!-- <li><a href="{{pathToRoot}}handouts/16 - Coding Style.pdf">16-Coding Style</a></li>
            <li><a href="{{pathToRoot}}handouts/17 - Variables.pdf">17-Variables</a></li>
            <li><a href="{{pathToRoot}}handouts/18 - Ufo Game.pdf">18-Ufo Game</a></li>
            <li><a href="{{pathToRoot}}handouts/19 - Strings.pdf">19-String Examples</a></li>
            <li><a href="{{pathToRoot}}handouts/20 - Assignment-4.pdf">20-Assignment 4</a></li>
            <li><a href="{{pathToRoot}}handouts/21 - Practice Midterm.pdf">21-Practice Midterm</a></li>
            <li><a href="{{pathToRoot}}handouts/22 - Exam Strategies.pdf">22-Exam Strategies</a></li>
            <li><a href="{{pathToRoot}}handouts/23 - Practice Midterm Solutions.pdf">23-Practice Midterm Solutions</a></li>
            <li><a href="{{pathToRoot}}handouts/25 - ArrayLists.pdf">25-ArrayLists</a></li>
            <li><a href="{{pathToRoot}}handouts/26 - Graphics Contest.pdf">26-Graphics Contest</a></li>
            <li><a href="{{pathToRoot}}handouts/29-assignment-5.pdf">27-Assignment 5</a></li>
            <li><a href="{{pathToRoot}}handouts/28 - Debugging.pdf">28-Debugging</a></li>
            <li><a href="{{pathToRoot}}handouts/29 - Midterm.pdf">29-Midterm</a></li>
            <li><a href="{{pathToRoot}}handouts/30 - Midterm Solutions.pdf">30-Midterm Solutions</a></li>
            <li><a href="{{pathToRoot}}handouts/31 - Assignment-6.pdf">31-Assignment 6</a></li>-->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu">
           
            <li><a href="https://goo.gl/forms/RjR4u0kIKY1uBQfq2">0 Who are you</a></li>
            <li><a href="{{pathToRoot}}assn/karel.html">1 Karel</a></li>
            <li><a href="{{pathToRoot}}assn/simpleJava.html">2 Simple Java</a></li>
            <li><a href="{{pathToRoot}}assn/breakout.html">3 Breakout</a></li>
            <li><a href="{{pathToRoot}}assn/hangman.html">4 Hangman</a></li>
            <!--<li><a href="{{pathToRoot}}assn/yahtzee.html">5-Yahtzee</a></li>
            <li><a href="{{pathToRoot}}assn/nameSurfer.html">6-NameSurfer</a></li>-->
            
            <li class="divider"></li>
            <li><a href="{{pathToRoot}}assn/style.html">Style Guide</a></li>
            <!--

            <li><a href="{{pathToRoot}}assignments/GraphicsContest.zip">Graphics Contest Project</a></li>
            <li><a href="{{pathToRoot}}assn/debugger.html">Extra Credit: Debugger</a></li>-->
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}examples/stepUp.html">Step Up</a></li>
            <li><a href="{{pathToRoot}}examples/place100.html">Place 100</a></li>
            <li><a href="{{pathToRoot}}examples/beeperLine.html">Beeper Line</a></li>
            <li><a href="{{pathToRoot}}examples/invert.html">Invert</a></li>
            <li><a href="{{pathToRoot}}examples/restaurant.html">Restaurant</a></li>
            <li><a href="{{pathToRoot}}examples/carbonDating.html">Carbon Dating</a></li>
            <li><a href="{{pathToRoot}}examples/emc2.html">E=MC2</a></li>
            
            <li><a href="{{pathToRoot}}examples/stringArt.html">String Art</a></li>
            <li><a href="{{pathToRoot}}examples/averageMethod.html">Average Method</a></li>
            <li><a href="{{pathToRoot}}examples/goCenter.html">Center Move Rect</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
              %include templates/parts/sectionMaterialsDropdownList.html
              <li class="divider"></li>
<!--               <li><a href="https://cs198.stanford.edu/cs198/auth/section/SwitchSection.aspx">Late Section Signup</a></li>
              <li><a href="https://cs198.stanford.edu/cs198/auth/section/RemoteSignup.aspx">Remote SCPD Signup</a></li> -->
              <li><a href="https://cs198.stanford.edu/cs198/auth/section/DropClass.aspx">Drop Section</a></li>
              <li><a href="https://cs198.stanford.edu/cs198/auth/default.aspx">View My Section</a></li>
              <li><a href="https://cs198.stanford.edu/cs198/auth/section/ViewSections.aspx">View All Sections</a></li>
          </ul>
          </ul>
        </li>

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Nothing Yet</a></li>
          </ul>
        </li>-->
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}schedule.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Schedule</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
