<!--
    Holidays Winter 2017:
    Jan 16th MLK
    Feb 20th President's Day
    First day of class: Jan 9th
    Last day of class: March 17th

    Assns:
    1. Karel
    2. Simple Java
    3. Breakout
    4. Hangman
    5. Yahtzee
    6. NameSurfer
    7. FacePamphlet
-->

<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr>
<th style="col-sm-3">Week</th>
<th style="col-sm-3">Monday</th>
<th style="col-sm-3">Wednesday</th>
<th style="col-sm-3">Friday</th>
</tr>
</thead>
<td class="calendarWeekCell">1</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 8th</p>
1: 
Welcome to CS106A
<br/><br/>
<p>
    
<a href="{{pathToRoot}}lectures/1-Welcome/1-Welcome.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/1-Welcome/1-Welcome.pdf">pdf</a>)
<br/>
<a href="{{pathToRoot}}lectures/1-Welcome/code/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="//web.stanford.edu/class/cs106a/lectures/1-Welcome/Lecture1.zip">zip</a>)
</p>



</p>

</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
<br>Read: Karel Ch. 1-3

</div>
<p class="subtleHeading">Jan 10th</p>
2: 
Control Flow
<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/2-ControlFlow/2-ControlFlow.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/2-ControlFlow/2-ControlFlow.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/2-ControlFlow/MeetKarel"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/2-ControlFlow/MeetKarel.zip">zip</a>)
	</p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal2">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal2" tabindex="-1" role="dialog" aria-labelledby="practiceLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel2">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/MeetKarel">MeetKarel</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/ThreeBeepers">ThreeBeepers</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/karelLoop1">KarelLoop1</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Sweeper">Sweeper</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Racetrack">Racetrack</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/RoadRepairKarel">RoadRepair</a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
    <br>Read: Karel Ch. 4-6
</div>
<p class="subtleHeading">Jan 12th</p>
3: 
Problem Decomposition

<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/3-Decomposition/3-Decomposition.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/3-Decomposition/3-Decomposition.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/3-Decomposition/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/3-Decomposition/3-Decomposition.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal3">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal3" tabindex="-1" role="dialog" aria-labelledby="practiceLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel2">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/HurdleJumper">HurdleJumper</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/Roomba">Roomba</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/BeeperCollector">BeeperCollector</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/MazeRunner">MazeRunner</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/karel/DoubleBeepers">DoubleBeepers</a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">2</td>
<td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 15th</p>
Holiday: MLK Jr. Day
<br/>No Class

</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">

    <br>
    Read: Java Ch 1-2
</div>
<p class="subtleHeading">Jan 17th</p>
4: Intro to Java

<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/4-Variables/4-Variables.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/4-Variables/4-Variables.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/4-Variables/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/4-Variables/4-Variables.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal4">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal4" tabindex="-1" role="dialog" aria-labelledby="practiceLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel2">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/basics/FearTheTree">FearTheTree</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view?category=java%2Fexpressions&amp;embedded=false&amp;problem=expressionsNumbers1">ExpressionsNumbers1</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view?category=java%2Fexpressions&amp;embedded=false&amp;problem=expressionsStrings1">ExpressionsStrings1</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/basics/InchesToCentimeters">InchesToCentimeters</a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
Read: Chapter 3
<br>Due: Assn #1

</div>
<p class="subtleHeading">Jan 19th</p>
5: Control Flow Revisited
<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/5-ControlFlowRevisited/5-ControlFlowRevisited.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/5-ControlFlowRevisited/5-ControlFlowRevisited.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/5-ControlFlowRevisited/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/5-ControlFlowRevisited/JavaFlow.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal5">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal5" tabindex="-1" role="dialog" aria-labelledby="practiceLabel5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel5">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/ComputeSumOfDigits">ComputeSumOfDigits</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/RangeOfNumbers">RangeOfNumbers</a></li>
                <li><a href="http://www.codestepbystep.com/problem/view/java/loops/SentinelSum">SentinelSum</a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">3</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 4
</div>
<p class="subtleHeading">Jan 22nd</p>
6: Simple Java
<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/6-NestedLoops/6-NestedLoops.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/6-NestedLoops/6-NestedLoops.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/6-NestedLoops/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/5-ControlFlowRevisited/NestedLoops.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal6">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal6" tabindex="-1" role="dialog" aria-labelledby="practiceLabel5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel6">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/loops/ComputeSumOfDigits">ComputeSumOfDigits</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/loops/RangeOfNumbers">RangeOfNumbers</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/loops/SentinelSum">SentinelSum</a></li>
                    </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--
<p>
        <a href="{{pathToRoot}}lectures/6-SimpleJava/6-SimpleJava.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/6-SimpleJava/6-SimpleJava.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/6-SimpleJava/SimpleJava"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/6-SimpleJava/SimpleJava.zip">zip</a>)
    </p>
-->
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 5
</div>
<p class="subtleHeading">Jan 24th</p>
7: Methods
<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/7-Methods/7-Methods.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/7-Methods/7-Methods.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/7-Methods/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/7-Methods/Methods.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal7">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal7" tabindex="-1" role="dialog" aria-labelledby="practiceLabel5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel7">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/boxOfStars">boxOfStars</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/triangle">triangle</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/ParameterMystery1">ParameterMystery1</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/sumOfRange">sumOfRange</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/factorial">factorial</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/ReturnMystery1">ReturnMystery1</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/isPrimeNumber">isPrimeNumber</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/threeConsecutive">threeConsecutive</a></li>
                    </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 6.1
    
</div>
<p class="subtleHeading">Jan 26th</p>
8: Animation
<br/><br/>
<p>
<a href="{{pathToRoot}}lectures/8-Animation/8-Animation.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/8-Animation/8-Animation.pdf">pdf</a>)<br/>
<a href="{{pathToRoot}}lectures/8-Animation/src"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/8-Animation/Animations.zip">zip</a>)
    </p>

<p>
    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal8">
      Practice
    </button>
</p>
<div class="modal fade" id="practiceModal8" tabindex="-1" role="dialog" aria-labelledby="practiceLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="practiceLabel8">Practice Problems</h4>
      </div>
      <div class="modal-body">
        <p>Practice with these additional problems on CodeStepByStep:</p>
        <ul>
                <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/boxOfStars">boxOfStars</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/triangle">triangle</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/ParameterMystery1">ParameterMystery1</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/sumOfRange">sumOfRange</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/factorial">factorial</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/ReturnMystery1">ReturnMystery1</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/isPrimeNumber">isPrimeNumber</a></li>
                            <li><a href="http://www.codestepbystep.com/problem/view/java/parameters/threeConsecutive">threeConsecutive</a></li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">4</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
Read: Chapter 10.1-10.4
    <br>Due: Assn #2
</div>
<p class="subtleHeading">Jan 29th</p>
9: Events

<!-- <p>
        <a href="{{pathToRoot}}lectures/9-Events/9-Events.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/9-Events/9-Events.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/9-Events/Events"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/9-Events/Events.zip">zip</a>)
    </p> -->
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 10.1-10.4
</div>
<p class="subtleHeading">Jan 31st</p>
10: References
<!-- <p>
        <a href="{{pathToRoot}}lectures/10-References/10-References.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/10-References/10-References.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/10-References/Game"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/10-References/Game.zip">zip</a>)
    </p> -->
</div>
 
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 7
</div>
<p class="subtleHeading">Feb 2nd</p>
11: Memory
<!-- <p>
        <a href="{{pathToRoot}}lectures/11-Memory/11-Memory.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/11-Memory/11-Memory.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/11-Memory/Memory"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/11-Memory/Memory.zip">zip</a>)
    </p> -->

</div>

</td>
</tr>
<tr>

<td class="calendarWeekCell">5</td>

<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 8.1-8.4

</div>
<p class="subtleHeading">Feb 5th</p>
12: Text Processing
<!-- <p>
        <a href="{{pathToRoot}}lectures/12-TextProcessing/12-TextProcessing.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/12-TextProcessing/12-TextProcessing.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/12-TextProcessing/Strings"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/12-TextProcessing/Strings.zip">zip</a>)
    </p> -->
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
Read: Chapter 8.5
 <br>Due: Assn #3
</div>
<p class="subtleHeading">Feb 7th</p>
13: File Reading
<!-- <p>
        <a href="{{pathToRoot}}lectures/13-Files/13-Files.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/13-Files/13-Files.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/13-Files/Files"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/13-Files/Files.zip">zip</a>)
    </p> -->
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 12.4
</div>
<p class="subtleHeading">Feb 9th</p>
14: File Reading + ArrayLists
<!-- <p>
        <a href="{{pathToRoot}}lectures/14-Files+ArrayLists/14-Files+ArrayLists.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/14-Files+ArrayLists/14-Files+ArrayLists.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/14-Files+ArrayLists/Examples"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/14-Files+ArrayLists/Examples.zip">zip</a>)
    </p> -->
</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">6</td>
<td class="calendarCell" style="background-color:aliceblue">
<div style="position:relative">
<div class="inOut">
<br>Midterm: 7-9p
</div>
<p class="subtleHeading">Feb 12th</p>
Midterm Day<br>No class

</div>

 
</td>
<td class="calendarCell" >
<div style="position:relative">
<div class="inOut">
<br>Read: 11.1-11.8
</div>
<p class="subtleHeading">Feb 14th</p>
15: Arrays
<!-- <p>
        <a href="{{pathToRoot}}lectures/15-Arrays/15-Arrays.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/15-Arrays/15-Arrays.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/15-Arrays/Arrays"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/15-Arrays/Arrays.zip">zip</a>)
    </p> -->
</div>

 
</td>
<td class="calendarCell" >
<div style="position:relative">
<div class="inOut">
Read: 11.1-11.8
    <br>Due: Assn #4
</div>
<p class="subtleHeading">Feb 16th</p>
16: Matrices
<!-- <p>
        <a href="{{pathToRoot}}lectures/16-Matrix/16-Matrix.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/16-Matrix/16-Matrix.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/16-Matrix/Matrix"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/16-Matrix/Matrix.zip">zip</a>)
    </p> -->
</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">7</td>
<td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Feb 19th</p>
Holiday: President's Day<br/>
No Class
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 21st</p>
17: HashMaps
<!-- <p>
        <a href="{{pathToRoot}}lectures/17-HashMaps/17-HashMaps.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/17-HashMaps/17-HashMaps.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/17-HashMaps/HashMaps"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/17-HashMaps/HashMaps.zip">zip</a>)
    </p> -->
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 13
</div>
<p class="subtleHeading">Feb 23rd</p>
18: Interactors
<!-- <p>
        <a href="{{pathToRoot}}lectures/18-Interactors/18-Interactors.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/18-Interactors/18-Interactors.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/18-Interactors/Interactors"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/18-Interactors/Interactors.zip">zip</a>)
    </p> -->

</div>
 
</td>
</tr>


<tr>
<td class="calendarWeekCell">8</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
Read: Chapter 10.5-10.8
    <br>Due: Assn #5
</div>
<p class="subtleHeading">Feb 26th</p>
19: Data Structure Design I

<!-- <p>
        <a href="{{pathToRoot}}lectures/19-Classes1/19-Classes1.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/19-Classes1/19-Classes1.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/19-Classes1/Classes"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/19-Classes1/Classes.zip">zip</a>)
    </p> -->
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Feb 28th</p>
20: Data Structure Design II
<!-- <p>
        <a href="{{pathToRoot}}lectures/20-Classes2/20-Classes2.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/20-Classes2/20-Classes2.pdf">pdf</a>)<br/>

        <a href="{{pathToRoot}}lectures/20-Classes2/code"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/20-Classes2/code.zip">zip</a>)
    </p> -->
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
       
</div>
<p class="subtleHeading">Mar 2nd</p>
21: Practice

</div>


</td>
</tr>


<tr>
<td class="calendarWeekCell">9</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 12.1-12.3
</div>
<p class="subtleHeading">Mar 5th</p>
22: Algorithms

</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Due: Assn #6
</div>
<p class="subtleHeading">Mar 7th</p>
23: Software engineering

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Mar 9th</p>
24: Social networks

</div>


</td>
</tr>



<tr>
<td class="calendarWeekCell">10</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 12th</p>
25: Standard Java

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 14th</p>
26: Review for Final Exam

</div>

</td>
<td class="calendarCell" style="background-color:aliceblue">

<div style="position:relative">
    <div class="inOut">
Due: Assn #7<br>Final: Mar 19th
    </div>
</div>

<p class="subtleHeading">Mar 16th</p>
Dead Day<br/>No Class


</td>
</tr>

</table>
</div>
