<!--
Generates a list of section links based on the saved section materials.  Expects
a 'sections' parameter of urls where sections[i] is the url to section i+1's
materials.
-->
<% 
	for i, sectionTuple in enumerate(sections):
		sectionPath, solutionsDate = sectionTuple
%>
<li class="dropdown-header">Section {{i+1}}</li>
<li><a href="{{pathToRoot}}{{sectionPath}}/Section{{i+1}}.pdf">Handout</a></li>
<li class="section-solutions" data-solutions-release={{solutionsDate}}><a href="{{pathToRoot}}{{sectionPath}}/Section{{i+1}}-Solutions.pdf">Solutions</a></li>
<li class="section-solutions" data-solutions-release={{solutionsDate}}><a href="{{pathToRoot}}{{sectionPath}}/Section{{i+1}}.zip">Code</a></li>

	% if i < len(sections) - 1:
		<li class="divider"></li>
	% end
% end

<script type="text/javascript">
	// only show section solutions if they should be released
	$(document).ready(function() {
		$(".section-solutions").each(function(i) {
	    	var dateStr = $(this).attr("data-solutions-release");
	    	var releaseDate = moment(dateStr, "YYYYMMDDHH");
	    	if (!releaseDate.isSameOrBefore(moment())) {
	    		// remove the link and disable it
	    		$(this).children().first().attr("href", "");
	    		$(this).addClass("disabled");
	    	}
		});
	});
</script>